<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action='/signupProcess' method='post'>
		<div>
			<input name='name' type="text" placeholder="name">
		</div>
		<div>
			<input name='phone' type="text" placeholder="phone number">
		</div>
		<div>
			<input name='email' type="text" placeholder="email">
		</div>
		<div>
			<button>Submit</button>
		</div>
	</form>

</body>
</html>
