<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<!-- <div>Is this working?</div> -->
	<div>
		<% name.map((row)=>{ %>
		<h2><%= row.name %></h2>
		<% }) %>
	</div>
	

</body>
</html>


